body{
    text-align: left ;
    margin-left: 30px;
    /* background-image: url(../../Images/mountain.jpg); */
    background-repeat: no-repeat;
    background-size: 1500px;
    font-family: poppins;

    
}



input{
    margin-top: 10px;
    width: 400px;
    height: 40px;
    font-size: larger;
    box-shadow: 10PX;
    /* outline: none; */
    outline-style: none;
    font-size: medium;
    /* background-color: gray; */
    border-style: none;
    

}

.TB{
    border-style: none;
    /* border-color: rgb(252, 0, 0);
    color: red; */
    background-color: rgb(218, 218, 218);
    
}

.TB:focus{
    outline-style: solid;
    outline-color: red;
}


.Description{
    margin-top: 10px;
    width: 400px;
    font-size: larger;
    box-shadow: 10PX;
    border-style: solid;
    font-family: poppins;
    /* border-color: rgb(252, 0, 0);
    color: red; */
    font-size: medium;
    outline-style: none;
    outline-color: red;
    /* border-color: rgb(252, 0, 0);
    color: red; */
    background-color: rgb(218, 218, 218);
    
   
}

.Description:focus{
    height: 80px;
    outline-style: solid;
    outline-color: red;

}
/* .Discription{
    height: 100px;
    font-size: small;
    
} */

 button{
    margin-top: 10px;
    width: 400px;
    height: 50px;
    font-size: larger;
    background-color: red;
    border-style: none;
    border-radius: 5px;
}
button:hover{
    margin-top: 10px;
    width: 400px;
    height: 50px;
    font-size: larger;
    background-color: rgb(197, 0, 13);
    border-radius: 30px;
}
.addimg{
    color: rgb(0, 0, 0);
    
}
.newicon{
    text-align: left;
    fill: rgb(195, 0, 0);
    float: left;
    margin-top: -470px;
    /* margin-right: 250px; */
    margin-left: 500PX;
    width: 400px;
    height: 400px;
    
}
.newicon:hover{
    fill: rgb(0, 0, 0);
    margin-top: -520px;
    margin-right: 210px;
    width: 500px;
    height: 500px;
}

H1{
        text-align: left;
        color: red;
}

