body{
    font-family: Arial, Helvetica, sans-serif;
    position:sticky;
}
.sidebar{

    position: fixed;    
    width: 250px;
    color: rgb(0, 0, 0);

}

.sidebar ul li a{
    padding-right: 100px;
}


.sidebar ul li {
    margin-left: -25px;    
}


.sidebar ul li {
    list-style-type: none;
    margin-top: 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    width: 220px;
    
}
.sidebar ul li:hover{
    background-color: rgba(71, 71, 71, 0.162);
    cursor: pointer;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    /* transition: 0.2s; */
    
}
.sidebar ul li a {    
    color: rgb(17, 17, 17);   
    text-decoration: none; 
    width: 220px;
}



footer{
    margin-top:100%;
}

.logout-btn{
    margin-left: 10px;
    color: rgb(0, 0, 0);
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 100px;
    border-radius: 5px;
    text-decoration: none;    
}
.logout-btn:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    text-decoration: none;   
    color: black; 

    
    
}

.user_profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    
}